.chip {
  background-image: url(./static/chip.png);
  background-repeat: no-repeat;
  display: inline-block;
}
.chip-CHIP-3211 {
  --icon-h: calc(var(--icon-w) * 1);
  background-size: calc(var(--icon-w) * 4) calc(var(--icon-h) * 4);
  background-position: 0% 0%;
  width: var(--icon-w);
  height: var(--icon-h);
}
.chip-CHIP-3212 {
  --icon-h: calc(var(--icon-w) * 1);
  background-size: calc(var(--icon-w) * 4) calc(var(--icon-h) * 4);
  background-position: 33.333% 0%;
  width: var(--icon-w);
  height: var(--icon-h);
}
.chip-CHIP-3221 {
  --icon-h: calc(var(--icon-w) * 1);
  background-size: calc(var(--icon-w) * 4) calc(var(--icon-h) * 4);
  background-position: 0% 33.333%;
  width: var(--icon-w);
  height: var(--icon-h);
}
.chip-CHIP-3222 {
  --icon-h: calc(var(--icon-w) * 1);
  background-size: calc(var(--icon-w) * 4) calc(var(--icon-h) * 4);
  background-position: 33.333% 33.333%;
  width: var(--icon-w);
  height: var(--icon-h);
}
.chip-CHIP-3231 {
  --icon-h: calc(var(--icon-w) * 1);
  background-size: calc(var(--icon-w) * 4) calc(var(--icon-h) * 4);
  background-position: 66.667% 0%;
  width: var(--icon-w);
  height: var(--icon-h);
}
.chip-CHIP-3232 {
  --icon-h: calc(var(--icon-w) * 1);
  background-size: calc(var(--icon-w) * 4) calc(var(--icon-h) * 4);
  background-position: 66.667% 33.333%;
  width: var(--icon-w);
  height: var(--icon-h);
}
.chip-CHIP-3241 {
  --icon-h: calc(var(--icon-w) * 1);
  background-size: calc(var(--icon-w) * 4) calc(var(--icon-h) * 4);
  background-position: 0% 66.667%;
  width: var(--icon-w);
  height: var(--icon-h);
}
.chip-CHIP-3242 {
  --icon-h: calc(var(--icon-w) * 1);
  background-size: calc(var(--icon-w) * 4) calc(var(--icon-h) * 4);
  background-position: 33.333% 66.667%;
  width: var(--icon-w);
  height: var(--icon-h);
}
.chip-CHIP-3251 {
  --icon-h: calc(var(--icon-w) * 1);
  background-size: calc(var(--icon-w) * 4) calc(var(--icon-h) * 4);
  background-position: 66.667% 66.667%;
  width: var(--icon-w);
  height: var(--icon-h);
}
.chip-CHIP-3252 {
  --icon-h: calc(var(--icon-w) * 1);
  background-size: calc(var(--icon-w) * 4) calc(var(--icon-h) * 4);
  background-position: 100% 0%;
  width: var(--icon-w);
  height: var(--icon-h);
}
.chip-CHIP-3261 {
  --icon-h: calc(var(--icon-w) * 1);
  background-size: calc(var(--icon-w) * 4) calc(var(--icon-h) * 4);
  background-position: 100% 33.333%;
  width: var(--icon-w);
  height: var(--icon-h);
}
.chip-CHIP-3262 {
  --icon-h: calc(var(--icon-w) * 1);
  background-size: calc(var(--icon-w) * 4) calc(var(--icon-h) * 4);
  background-position: 100% 66.667%;
  width: var(--icon-w);
  height: var(--icon-h);
}
.chip-CHIP-3271 {
  --icon-h: calc(var(--icon-w) * 1);
  background-size: calc(var(--icon-w) * 4) calc(var(--icon-h) * 4);
  background-position: 0% 100%;
  width: var(--icon-w);
  height: var(--icon-h);
}
.chip-CHIP-3272 {
  --icon-h: calc(var(--icon-w) * 1);
  background-size: calc(var(--icon-w) * 4) calc(var(--icon-h) * 4);
  background-position: 33.333% 100%;
  width: var(--icon-w);
  height: var(--icon-h);
}
.chip-CHIP-3281 {
  --icon-h: calc(var(--icon-w) * 1);
  background-size: calc(var(--icon-w) * 4) calc(var(--icon-h) * 4);
  background-position: 66.667% 100%;
  width: var(--icon-w);
  height: var(--icon-h);
}
.chip-CHIP-3282 {
  --icon-h: calc(var(--icon-w) * 1);
  background-size: calc(var(--icon-w) * 4) calc(var(--icon-h) * 4);
  background-position: 100% 100%;
  width: var(--icon-w);
  height: var(--icon-h);
}
