.contingencyMiscs {
  background-image: url(./static/contingencyMiscs.png);
  background-repeat: no-repeat;
  display: inline-block;
}

@mixin contingency-miscs-size($size) {
  background-size: $size * 4 $size * 4;
  width: $size;
  height: $size;
}

.material-MT-bipeak {
  background-size: calc(var(--icon-w) * 4) calc(var(--icon-h) * 4);
  background-position: 0% 0%;
}

.material-MT-superiors {
  background-size: calc(var(--icon-w) * 4) calc(var(--icon-h) * 4);
  background-position: 0% 33.333%;
}
.material-MT-inferiors {
  background-size: calc(var(--icon-w) * 4) calc(var(--icon-h) * 4);
  background-position: 0% 66.667%;
}
