.sprite {
	background-image: url(./static/sprite.png);
	background-repeat: no-repeat;
	display: inline-block;
	background-size: 800% 700%;
}

.sprite-ESS-32001 {
	background-position: 0% 0%;
}
.sprite-GACHATICKET {
	background-position: 14.2857% 0%;
}
.sprite-MISC-2002 {
	background-position: 0% 16.6667%;
}
.sprite-MISC-3003 {
	background-position: 14.2857% 16.6667%;
}
.sprite-MISC-3112 {
	background-position: 28.5714% 0%;
}
.sprite-MISC-3113 {
	background-position: 28.5714% 16.6667%;
}
.sprite-MISC-3301 {
	background-position: 0% 33.3333%;
}
.sprite-MISC-3302 {
	background-position: 14.2857% 33.3333%;
}
.sprite-MISC-3401 {
	background-position: 28.5714% 33.3333%;
}
.sprite-MISC-4001 {
	background-position: 42.8571% 0%;
}
.sprite-MISC-7001 {
	background-position: 42.8571% 16.6667%;
}
.sprite-MT-2001 {
	background-position: 42.8571% 33.3333%;
}
.sprite-MT-2002 {
	background-position: 0% 50%;
}
.sprite-MT-2003 {
	background-position: 14.2857% 50%;
}
.sprite-MT-30011 {
	background-position: 28.5714% 50%;
}
.sprite-MT-30012 {
	background-position: 42.8571% 50%;
}
.sprite-MT-30013 {
	background-position: 57.1429% 0%;
}
.sprite-MT-30014 {
	background-position: 57.1429% 16.6667%;
}
.sprite-MT-30021 {
	background-position: 57.1429% 33.3333%;
}
.sprite-MT-30022 {
	background-position: 57.1429% 50%;
}
.sprite-MT-30023 {
	background-position: 0% 66.6667%;
}
.sprite-MT-30024 {
	background-position: 14.2857% 66.6667%;
}
.sprite-MT-30031 {
	background-position: 28.5714% 66.6667%;
}
.sprite-MT-30032 {
	background-position: 42.8571% 66.6667%;
}
.sprite-MT-30033 {
	background-position: 57.1429% 66.6667%;
}
.sprite-MT-30034 {
	background-position: 71.4286% 0%;
}
.sprite-MT-30041 {
	background-position: 71.4286% 16.6667%;
}
.sprite-MT-30042 {
	background-position: 71.4286% 33.3333%;
}
.sprite-MT-30043 {
	background-position: 71.4286% 50%;
}
.sprite-MT-30044 {
	background-position: 71.4286% 66.6667%;
}
.sprite-MT-30051 {
	background-position: 0% 83.3333%;
}
.sprite-MT-30052 {
	background-position: 14.2857% 83.3333%;
}
.sprite-MT-30053 {
	background-position: 28.5714% 83.3333%;
}
.sprite-MT-30054 {
	background-position: 42.8571% 83.3333%;
}
.sprite-MT-30061 {
	background-position: 57.1429% 83.3333%;
}
.sprite-MT-30062 {
	background-position: 71.4286% 83.3333%;
}
.sprite-MT-30063 {
	background-position: 85.7143% 0%;
}
.sprite-MT-30064 {
	background-position: 85.7143% 16.6667%;
}
.sprite-MT-30073 {
	background-position: 85.7143% 33.3333%;
}
.sprite-MT-30074 {
	background-position: 85.7143% 50%;
}
.sprite-MT-30083 {
	background-position: 85.7143% 66.6667%;
}
.sprite-MT-30084 {
	background-position: 85.7143% 83.3333%;
}
.sprite-MT-30093 {
	background-position: 0% 100%;
}
.sprite-MT-30094 {
	background-position: 14.2857% 100%;
}
.sprite-MT-30103 {
	background-position: 28.5714% 100%;
}
.sprite-MT-30104 {
	background-position: 42.8571% 100%;
}
.sprite-MT-30115 {
	background-position: 57.1429% 100%;
}
.sprite-MT-30125 {
	background-position: 71.4286% 100%;
}
.sprite-MT-30135 {
	background-position: 85.7143% 100%;
}
.sprite-MT-31013 {
	background-position: 100% 0%;
}
.sprite-MT-31014 {
	background-position: 100% 16.6667%;
}
.sprite-MT-31023 {
	background-position: 100% 33.3333%;
}
.sprite-MT-31024 {
	background-position: 100% 50%;
}
.sprite-MT-4001 {
	background-position: 100% 66.6667%;
}
.sprite-placeholder {
	background-position: 100% 83.3333%;
}
