@import './chip', './materials.scss', './contingencyMiscs.scss';
.Artboard_1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1080px;
  z-index: 3;
}
// .outLayer{
//   content: "";
//   background-image: url("./static/Artboard_1.png");
// }
p {
  margin: 0;
}

.theme--dark p {
  color: #f5f5f5;
}

.theme--dark h2 {
  color: #f5f5f5;
}

h3 {
  margin-top: 0;
}

.theme--dark h3 {
  color: #f5f5f5;
}

span {
  display: block;
}

.theme--dark span {
  color: #f5f5f5;
}

.theme--dark .textTips {
  color: #f5f5f5;
}

.MuiPaper-root {
  background-color: rgba(255, 255, 255, 0.7);
}

.modalBlur {
  backdrop-filter: blur(10px);
}

.instructions {
  transform-origin: left center;
}

.theme--dark .material {
  filter: brightness(0.9);
}

@media only screen and (min-width: 320px) {
  body {
    font-size: 10px;
  }

  .M3Materials {
    width: calc(100vw - 45%);
  }

  .M2Materials {
    width: calc(100vw - 25%);
  }

  .lowestAPStage,
  .balancedStage,
  .dropRateFirstStage {
    font-size: 30px;
  }

  .lowestAPStageDetails,
  .balancedStageDetails,
  .dropRateFirstStageDetails {
    font-size: 0.58rem;
  }

  .spriteMT-5 {
    @include material-size(55px);
  }


  .sprite {
    &MT-4 {
      @include material-size(45px);
    }
    &CM-4 {
      @include contingency-miscs-size(45px);
    }
    &CP-4 {
      @include chip-size(45px);
    }
  }

  .extraDropWrap {
    @include material-size(18px);
    position: absolute;
    margin-left: 0px;
    margin-top: 0px;
  }

  .MT-5 {
    width: 33px;
  }

  .MT-4 {
    width: 22px;
    vertical-align: middle;
  }
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 12px;
  }

  .M3Materials,
  .M2Materials {
    width: calc(100vw - 25%);
  }
  .lowestAPStage,
  .balancedStage,
  .dropRateFirstStage {
    font-size: 30px;
  }

  .lowestAPStageDetails,
  .balancedStageDetails,
  .dropRateFirstStageDetails {
    font-size: 0.58rem;
  }
  .spriteMT-5 {
    @include material-size(55px);
  }

  .sprite {
    &MT-4 {
      @include material-size(45px);
    }
    &CM-4 {
      @include contingency-miscs-size(45px);
    }
    &CP-4 {
      @include chip-size(45px);
    }
  }
  .extraDropWrap {
    @include material-size(18px);
    position: absolute;
    /* display: inline; */
    margin-left: 0px;
    margin-top: 0px;
  }

  .MT-5 {
    width: 44px;
  }

  .MT-4 {
    width: 33px;
    vertical-align: middle;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    font-size: 14px;
  }

  .M3Materials,
  .M2Materials {
    width: calc(100vw - 23%);
  }

  .lowestAPStage,
  .balancedStage,
  .dropRateFirstStage {
    font-size: 35px;
  }

  .spriteMT-5 {
    @include material-size(55px);
  }
  .sprite {
    &MT-4 {
      @include material-size(45px);
    }
    &CM-4 {
      @include contingency-miscs-size(45px);
    }
    &CP-4 {
      @include chip-size(45px);
    }
  }
  .extraDropWrap {
    @include material-size(18px);
    position: absolute;
    /* display: inline; */
    margin-left: 0px;
    margin-top: 0px;
  }

  .lowestAPStageDetails,
  .balancedStageDetails,
  .dropRateFirstStageDetails {
    font-size: 0.7rem;
  }

  .MT-5 {
    width: 55px;
  }

  .MT-4 {
    width: 44px;
    vertical-align: middle;
  }
}
@media only screen and (min-width: 1300px) {
  body {
    font-size: 16px;
  }

  .dividers {
    display: none;
  }

  .M3Materials {
    width: 27%;
  }

  .M2Materials {
    width: 50%;
  }

  .lowestAPStage,
  .balancedStage,
  .dropRateFirstStage {
    font-size: 35px;
  }

  .lowestAPStageDetails,
  .balancedStageDetails,
  .dropRateFirstStageDetails {
    font-size: 0.7rem;
  }

  .spriteMT-5 {
    @include material-size(55px);
  }

  .sprite {
    &MT-4 {
      @include material-size(45px);
    }
    &CM-4 {
      @include contingency-miscs-size(45px);
    }
    &CP-4 {
      @include chip-size(45px);
    }
  }

  .extraDropWrap {
    @include material-size(18px);
    position: absolute;
    /* display: inline; */
    margin-left: 0px;
    margin-top: 0px;
  }

  .MT-5 {
    width: 55px;
  }

  .MT-4 {
    width: 44px;
    vertical-align: middle;
  }
}

.MuiIconButton-root {
  padding: 1%;
}

.catalystDiv {
  vertical-align: middle;
  display: inline-block;
  border: 2px solid gainsboro;
}

.creditOverall {
  width: 60%;
  display: inline;
  position: absolute;
}

.creditOverall h3 {
  margin-top: 0;
}

.miscDiv {
  vertical-align: middle;
  display: inline;
}

.M5Materials {
  width: fit-content;
  display: inline-block;
  margin-left: 1%;
  vertical-align: top;
}

.M4Materials {
  display: inline-block;
  vertical-align: top;
}

.M3Materials {
  display: inline-block;
  margin-top: 0;
  vertical-align: top;
}

.M2Materials {
  display: inline-block;
  margin-top: 0;
  vertical-align: top;
}

/* .outLayer::after{
    content: "";
    clear: both;
    display: table;
} */

.outLayer {
  margin-top: 2%;
}

.MT-4-wrapper {
  padding-top: 0.55rem;
  padding-bottom: 0.55rem;
  vertical-align: middle;
  border: 2px solid gainsboro;
}

.MT-5-wrapper {
  border: 2px solid gainsboro;
  padding-bottom: 1.6rem;
}

.MT-3-wrapper {
  vertical-align: middle;
  padding-top: 0.32rem;
  padding-bottom: 0.35rem;
  border: 2px solid gainsboro;
}

.M4Values {
  margin-top: 3.6rem;
  vertical-align: middle;
  display: inline;
}

.M4Valuesgreen {
  margin-top: 3.6rem;
  color: #26a69af5 !important;
  vertical-align: middle;
  display: inline;
}

.M4Valuesred {
  margin-top: 3.6rem;
  color: #d81b60f5 !important;
  vertical-align: middle;
  display: inline;
}

.M4Valuesyellow {
  margin-top: 3.6rem;
  color: #fb8c00f5 !important;
  vertical-align: middle;
  display: inline;
}

.catalyst {
  margin-left: 5%;
  vertical-align: middle;
  width: fit-content;
}

.catalyst h4 {
  margin-left: 3%;
  display: inline;
}

.CatalystValue {
  font-size: large;
  display: inline;
  margin-left: 1%;
  margin-top: 1rem;
  color: #fb8c00f5 !important;
  vertical-align: middle;
}

.PlanValue {
  font-size: large;
  display: inline;
  margin-left: 1%;
  margin-top: 1rem;
  color: #d81b60f5 !important;
  vertical-align: middle;
}

.GachaValue {
  font-size: large;
  display: inline;
  margin-left: 1%;
  margin-top: 1rem;
  color: #d81b60f5 !important;
  vertical-align: middle;
}

.CreditValue {
  font-size: large;
  display: inline;
  margin-left: 1%;
  vertical-align: middle;
}

.CreditValuered {
  font-size: large;
  display: inline;
  margin-left: 1%;
  margin-top: 1rem;
  vertical-align: middle;
  color: #d81b60f5 !important;
}

.CreditValuegreen {
  font-size: large;
  display: inline;
  margin-left: 1%;
  margin-top: 1rem;
  vertical-align: middle;
  color: #26a69af5 !important;
}

.CreditValueyellow {
  font-size: large;
  display: inline;
  margin-left: 1%;
  margin-top: 1rem;
  vertical-align: middle;
  color: #fb8c00f5 !important;
}

.Credit-wrapper {
  vertical-align: middle;
  display: inline-block;
  border: 2px solid gainsboro;
}

.lowestAPStage {
  margin-left: 3%;
  font-family: 'Overpass', sans-serif;
  display: inline;
  color: #d81b60f5 !important;
  /* border-left:1px solid;
    border-image: 
      linear-gradient(
        to bottom, 
        red, 
        rgba(0, 0, 0, 0)
      ) 1 100%; */
}

.lowestAPStageDetails {
  margin-left: 3%;
  /* font-family: 'Overpass', sans-serif; */
  display: table-caption;
  color: #d81b60f5 !important;
}

.balancedStage {
  font-family: 'Overpass', sans-serif;
  margin-left: 3%;
  display: inline;
  color: #fb8c00f5 !important;
}

.balancedStageDetails {
  /* font-family: 'Overpass', sans-serif; */
  margin-left: 3%;
  display: table-caption;
  color: #fb8c00f5 !important;
}

.dropRateFirstStage {
  font-family: 'Overpass', sans-serif;
  margin-left: 3%;
  display: inline;
  color: #039be5f5 !important;
}

.dropRateFirstStageDetails {
  /* font-family: 'Overpass', sans-serif; */
  margin-left: 3%;
  display: table-caption;
  color: #039be5f5 !important;
}

.stageWrapper {
  display: inline;
  margin-left: 20px;
  white-space: nowrap;
  position: relative;
}

.MuiTableCell-root {
  border: 1px solid rgba(224, 224, 224, 1);
}

[class^='sprit-'] {
  background-size: 44px auto;
}

