.MT-5{
    width: 55px;
}

.MT-4{
    width: 44px;
    vertical-align: middle;
}

.catalystDiv{
    vertical-align: middle;
    display: inline-block;

}

.miscDiv{
    vertical-align: middle;
    display: inline;
}

.M5Materials{
    width: fit-content;
    display: inline-block;
    margin-top: 4.6rem;
    margin-left: 2%;
    vertical-align: top;
}

.M4Materials{
    display: inline-block;  
    margin-left: 3%;
    margin-top: 0;
    vertical-align: top;

}

.M3Materials{
    width: 20%;
    display: inline-block;  
    margin-left: 3%;
    margin-top: 0;
    vertical-align: top;

}

.outLayer::after{
    content: "";
    clear: both;
    display: table;
}


.outLayer{
    margin-top: 3%;
}

.MT-4-wrapper{
    margin-top: 1.5rem;
    vertical-align: middle;
}

.M4Values{
    margin-top: 3.6rem;
    font-size: large;
    vertical-align: middle;
    display: inline;
}

.M4Valuesgreen{
    margin-top: 3.6rem;
    font-size: large;
    color: forestgreen;
    vertical-align: middle;
    display: inline;
    margin-left: 7%;
}
.M4Valuesred{
    margin-top: 3.6rem;
    font-size: large;
    color: red;
    vertical-align: middle;
    display: inline;
    margin-left: 7%;
}
.M4Valuesyellow{
    margin-top: 3.6rem;
    font-size: large;
    color: goldenrod;
    vertical-align: middle;
    display: inline;
    margin-left: 7%;

}

.catalyst{
    margin-left: 3%;
    vertical-align: middle;
}
.catalyst h4{
    margin-left: 3%;
    display: inline;
}

.CatalystValue{
    font-size: large;
    display: inline;
    margin-left: 1%;
    margin-top: 1rem;
    color: goldenrod;
    vertical-align: middle;
}

.PlanValue{
    font-size: large;
    display: inline;
    margin-left: 1%;
    margin-top: 1rem;
    color: red;
    vertical-align: middle;
}

.GachaValue{
    font-size: large;
    display: inline;
    margin-left: 1%;
    margin-top: 1rem;
    color: red;
    vertical-align: middle;
}

.CreditValue{
    font-size: large;
    display: inline;
    margin-left: 1%;
    margin-top: 1rem;
    vertical-align: middle;
}

.CreditValuered{
    font-size: large;
    display: inline;
    margin-left: 1%;
    margin-top: 1rem;
    vertical-align: middle;
    color: red;
}

.CreditValuegreen{
    font-size: large;
    display: inline;
    margin-left: 1%;
    margin-top: 1rem;
    vertical-align: middle;
    color: forestgreen;
}

.CreditValueyellow{
    font-size: large;
    display: inline;
    margin-left: 1%;
    margin-top: 1rem;
    vertical-align: middle;
    color: goldenrod;
}

.Credit-wrapper{
    margin-top: 1.5rem;
    vertical-align: middle;
    display: inline;
}

.lowestAPStage{
    display: inline;
    margin-left: 1%;
    color: red;
}

.balancedStage{
    display: inline;
    margin-left: 1%;
    color: goldenrod;
}

.dropRateFirstStage{
    display: inline;
    margin-left: 1%;
    color: blue;
}

