.MT-5{
    width: 66px;
}

.MT-4{
    width: 55px;
    vertical-align: middle;
}


.M5Materials{
    width: fit-content;
    display: inline-block;
    margin-top: 4.6rem;
    margin-left: 8%;
    vertical-align: top;
}

.M4Materials{
    width: 13%;
    display: inline-block;  
    margin-left: 3%;
    margin-top: 0;
    vertical-align: top;

}

.outLayer::after{
    content: "";
    clear: both;
    display: table;
}


.outLayer{
    margin-top: 3%;
}

.MT-4-wrapper{
    margin-top: 1.5rem;
    vertical-align: middle;
}

.M4Values{
    margin-top: 3.6rem;
    font-size: larger;
    vertical-align: middle;
    display: inline;
    margin-left: 7%;
}

.M4Valuesgreen{
    margin-top: 3.6rem;
    font-size: larger;
    color: forestgreen;
    vertical-align: middle;
    display: inline;
    margin-left: 7%;
}
.M4Valuesred{
    margin-top: 3.6rem;
    font-size: larger;
    color: red;
    vertical-align: middle;
    display: inline;
    margin-left: 7%;
}
.M4Valuesyellow{
    margin-top: 3.6rem;
    font-size: larger;
    color: goldenrod;
    vertical-align: middle;
    display: inline;
    margin-left: 7%;

}

.catalyst{
    margin-left: 10%;
    vertical-align: middle;
}
.catalyst h4{
    margin-left: 3%;
    display: inline;
}

.CatalystValue{
    font-size: larger;
    display: inline;
    margin-left: 1%;
    margin-top: 1rem;
    color: goldenrod;
    vertical-align: middle;
}

.PlanValue{
    font-size: larger;
    display: inline;
    margin-left: 1%;
    margin-top: 1rem;
    color: red;
    vertical-align: middle;
}

.GachaValue{
    font-size: larger;
    display: inline;
    margin-left: 1%;
    margin-top: 1rem;
    color: red;
    vertical-align: middle;
}