.Stagesmodal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Stagespaper{
    background-color: white;
    border: 2px solid #000;
    box-shadow: 5px 5px lightblue;
    padding: 1%;
    max-height: 50%;
    max-width: fit-content;
    overflow:auto;
}